body{
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rectangulo{
    padding-bottom: 50px;
    width: 100%;
    margin-left:-8px;
    margin-top:-8px;
    position: fixed;
    background-color:rgb(244, 247, 68);
    color: white;
}
.cuadro{
    padding: 100px,20px,100px,20px;
    width: 100%;
    margin-left:-8px;
    margin-top:-8px;
    align-items: center;
    position: fixed;
    background-color:#ffcd71;
    color: white;
}