body{
    background-color: rgb(216, 72, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rectangulo{
    padding-bottom: 200px;
    width: 100%;
    margin-right:-8px;
    position: fixed;
    background-color:black;
}